In [1]:
import pandas as pd

data = pd.Series()
print('默认的空序列:',data)

默认的空序列: Series([], dtype: float64)

In [2]:
import pandas as pd

data = pd.Series(5,index=[0,1,2])
print(data)

0    5
1    5
2    5
dtype: int64

In [3]:
import pandas as pd

data = pd.Series(5,index=[0,1,2])
data2 = pd.Series(3,index=['a','b','c'])
print(data)
print(data2)

0    5
1    5
2    5
dtype: int64
a    3
b    3
c    3
dtype: int64

In [4]:
import pandas as pd
import numpy as np

initdata = np.array(['hello','world','pyton'])
data = pd.Series(initdata)
print(data)

0    hello
1    world
2    pyton
dtype: object

In [5]:
import pandas as pd
import numpy as np

initdata = np.array(['hello','world','pyton'])
data = pd.Series(initdata,index=[1,2,3])
print(data)

1    hello
2    world
3    pyton
dtype: object

In [6]:
import pandas as pd

initdata = {'name':'ivy','age':10}
data = pd.Series(initdata)
print(data)

name    ivy
age      10
dtype: object

In [7]:
import pandas as pd

df = pd.DataFrame()
print(df)
# 创建空数据帧

Empty DataFrame
Columns: []
Index: []

In [8]:
import pandas as pd

data = [{'name':'Wilson','age':15},{'name':'Lijiao','age':40}]
df = pd.DataFrame(data)
print(df)

   age    name
0   15  Wilson
1   40  Lijiao

In [9]:
import pandas as pd

data = [{'name':['Wilson','Lijiao'],'age':[15,40]}]
df = pd.DataFrame(data)
print(df)
#通过列表创建数据帧

        age              name
0  [15, 40]  [Wilson, Lijiao]

In [10]:
import pandas as pd

series = {"name":pd.Series(['Wilson','Bruce','Chelsea'],index=['user1','user2','user3']),'age':pd.Series([15,24,19],index=['user1','user2','user3']),'gender':pd.Series(['man','man','woman'],index=['user1','user2','user3'])}
df = pd.DataFrame(series)
print(df)
print('选取第一行数据：')
print(df.loc['user1'])
print('')
print('选取第三行数据：')
print(df.loc['user3'])

          name  age gender
user1   Wilson   15    man
user2    Bruce   24    man
user3  Chelsea   19  woman
选取第一行数据：
name      Wilson
age           15
gender       man
Name: user1, dtype: object

选取第三行数据：
name      Chelsea
age            19
gender      woman
Name: user3, dtype: object

In [11]:
import numpy as np
import pandas as pd

df = pd.DataFrame({"id":[1001,1002,1003,1004,1005,1006], 
 "date":pd.date_range('20130102', periods=6),
  "city":['Beijing ', 'SH', ' guangzhou ', 'Shenzhen', 'shanghai', 'BEIJING '],
 "age":[23,44,54,32,34,32],
 "category":['100-A','100-B','110-A','110-C','210-A','130-F'],
  "price":[1200,np.nan,2133,5433,np.nan,4432]},
  columns =['id','date','city','category','age','price'])

print(df.shape())

TypeError: 'tuple' object is not callable

In [12]:
import numpy as np
import pandas as pd

df = pd.DataFrame({"id":[1001,1002,1003,1004,1005,1006], 
 "date":pd.date_range('20130102', periods=6),
  "city":['Beijing ', 'SH', ' guangzhou ', 'Shenzhen', 'shanghai', 'BEIJING '],
 "age":[23,44,54,32,34,32],
 "category":['100-A','100-B','110-A','110-C','210-A','130-F'],
  "price":[1200,np.nan,2133,5433,np.nan,4432]},
  columns =['id','date','city','category','age','price'])

print(df.shape)

(6, 6)

In [13]:
import numpy as np
import pandas as pd
# 添加引用

df = pd.DataFrame({"id":[1001,1002,1003,1004,1005,1006], 
 "date":pd.date_range('20130102', periods=6),
  "city":['Beijing ', 'SH', ' guangzhou ', 'Shenzhen', 'shanghai', 'BEIJING '],
 "age":[23,44,54,32,34,32],
 "category":['100-A','100-B','110-A','110-C','210-A','130-F'],
  "price":[1200,np.nan,2133,5433,np.nan,4432]},
  columns =['id','date','city','category','age','price'])
# 创建数据帧

print(df.shape)  #维度查看
print(df.info()) # 数据表基本信息（维度、列名称、数据格式、所占空间等）：

(6, 6)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
id          6 non-null int64
date        6 non-null datetime64[ns]
city        6 non-null object
category    6 non-null object
age         6 non-null int64
price       4 non-null float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 368.0+ bytes
None

In [14]:
import numpy as np
import pandas as pd
# 添加引用

df = pd.DataFrame({"id":[1001,1002,1003,1004,1005,1006], 
 "date":pd.date_range('20130102', periods=6),
  "city":['Beijing ', 'SH', ' guangzhou ', 'Shenzhen', 'shanghai', 'BEIJING '],
 "age":[23,44,54,32,34,32],
 "category":['100-A','100-B','110-A','110-C','210-A','130-F'],
  "price":[1200,np.nan,2133,5433,np.nan,4432]},
  columns =['id','date','city','category','age','price'])
# 创建数据帧

print(df.shape)  # 维度查看
print(df.info()) # 数据表基本信息（维度、列名称、数据格式、所占空间等）：
print(df.dtypes) # 每一列数据的格式

(6, 6)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
id          6 non-null int64
date        6 non-null datetime64[ns]
city        6 non-null object
category    6 non-null object
age         6 non-null int64
price       4 non-null float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 368.0+ bytes
None
id                   int64
date        datetime64[ns]
city                object
category            object
age                  int64
price              float64
dtype: object

In [15]:
import numpy as np
import pandas as pd
# 添加引用

df = pd.DataFrame({"id":[1001,1002,1003,1004,1005,1006], 
 "date":pd.date_range('20130102', periods=6),
  "city":['Beijing ', 'SH', ' guangzhou ', 'Shenzhen', 'shanghai', 'BEIJING '],
 "age":[23,44,54,32,34,32],
 "category":['100-A','100-B','110-A','110-C','210-A','130-F'],
  "price":[1200,np.nan,2133,5433,np.nan,4432]},
  columns =['id','date','city','category','age','price'])
# 创建数据帧

print(df.shape)  # 维度查看
print(df.info()) # 数据表基本信息（维度、列名称、数据格式、所占空间等）：
print(df.dtypes) # 每一列数据的格式
print(df['city'].dtype) # 某一列格式

(6, 6)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
id          6 non-null int64
date        6 non-null datetime64[ns]
city        6 non-null object
category    6 non-null object
age         6 non-null int64
price       4 non-null float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 368.0+ bytes
None
id                   int64
date        datetime64[ns]
city                object
category            object
age                  int64
price              float64
dtype: object
object

In [16]:
print(df.isnull())

      id   date   city  category    age  price
0  False  False  False     False  False  False
1  False  False  False     False  False   True
2  False  False  False     False  False  False
3  False  False  False     False  False  False
4  False  False  False     False  False   True
5  False  False  False     False  False  False

In [17]:
print(df['city'].isnull())  # 查看某一列是否空值

0    False
1    False
2    False
3    False
4    False
5    False
Name: city, dtype: bool

In [18]:
print(df['city'].unique()) # 查看某一列唯一值

['Beijing ' 'SH' ' guangzhou ' 'Shenzhen' 'shanghai' 'BEIJING ']

In [19]:
print(df.values) # 查看数据表的值

[[1001 Timestamp('2013-01-02 00:00:00') 'Beijing ' '100-A' 23 1200.0]
 [1002 Timestamp('2013-01-03 00:00:00') 'SH' '100-B' 44 nan]
 [1003 Timestamp('2013-01-04 00:00:00') ' guangzhou ' '110-A' 54 2133.0]
 [1004 Timestamp('2013-01-05 00:00:00') 'Shenzhen' '110-C' 32 5433.0]
 [1005 Timestamp('2013-01-06 00:00:00') 'shanghai' '210-A' 34 nan]
 [1006 Timestamp('2013-01-07 00:00:00') 'BEIJING ' '130-F' 32 4432.0]]

In [20]:
print(df.columns)  # 查看列名

Index(['id', 'date', 'city', 'category', 'age', 'price'], dtype='object')

In [21]:
print(df.head())  # 查看前五行数据

     id       date         city category  age   price
0  1001 2013-01-02     Beijing     100-A   23  1200.0
1  1002 2013-01-03           SH    100-B   44     NaN
2  1003 2013-01-04   guangzhou     110-A   54  2133.0
3  1004 2013-01-05     Shenzhen    110-C   32  5433.0
4  1005 2013-01-06     shanghai    210-A   34     NaN

In [22]:
print(df.tail())  # 查看后五行数据

     id       date         city category  age   price
1  1002 2013-01-03           SH    100-B   44     NaN
2  1003 2013-01-04   guangzhou     110-A   54  2133.0
3  1004 2013-01-05     Shenzhen    110-C   32  5433.0
4  1005 2013-01-06     shanghai    210-A   34     NaN
5  1006 2013-01-07     BEIJING     130-F   32  4432.0

In [23]:
print(df.fillna(value=0)) # 对空值用0填充

     id       date         city category  age   price
0  1001 2013-01-02     Beijing     100-A   23  1200.0
1  1002 2013-01-03           SH    100-B   44     0.0
2  1003 2013-01-04   guangzhou     110-A   54  2133.0
3  1004 2013-01-05     Shenzhen    110-C   32  5433.0
4  1005 2013-01-06     shanghai    210-A   34     0.0
5  1006 2013-01-07     BEIJING     130-F   32  4432.0

In [24]:
df = pd.DataFrame({"id":[1001,1002,1003,1004,1005,1006], 
 "date":pd.date_range('20130102', periods=6),
  "city":['Beijing ', 'SH', ' guangzhou ', 'Shenzhen', 'shanghai', 'BEIJING '],
 "age":[23,44,54,32,34,32],
 "category":['100-A','100-B',' ','110-C',' ','130-F'],
  "price":[1200,np.nan,2133,5433,np.nan,4432]},
  columns =['id','date','city','category','age','price'])

In [25]:
print(df)

     id       date         city category  age   price
0  1001 2013-01-02     Beijing     100-A   23  1200.0
1  1002 2013-01-03           SH    100-B   44     NaN
2  1003 2013-01-04   guangzhou             54  2133.0
3  1004 2013-01-05     Shenzhen    110-C   32  5433.0
4  1005 2013-01-06     shanghai            34     NaN
5  1006 2013-01-07     BEIJING     130-F   32  4432.0

In [26]:
print(df['price'].fillna(df['price'].mean))  # 使用列prince的均值对NA进行填充

0                                                 1200
1    <bound method Series.mean of 0    1200.0\n1   ...
2                                                 2133
3                                                 5433
4    <bound method Series.mean of 0    1200.0\n1   ...
5                                                 4432
Name: price, dtype: object

In [27]:
print(df.fillna(value=0)) # 对空值用0填充
print(df['price'].fillna(df['price'].mean))  # 使用列prince的均值对NA进行填充

     id       date         city category  age   price
0  1001 2013-01-02     Beijing     100-A   23  1200.0
1  1002 2013-01-03           SH    100-B   44     0.0
2  1003 2013-01-04   guangzhou             54  2133.0
3  1004 2013-01-05     Shenzhen    110-C   32  5433.0
4  1005 2013-01-06     shanghai            34     0.0
5  1006 2013-01-07     BEIJING     130-F   32  4432.0
0                                                 1200
1    <bound method Series.mean of 0    1200.0\n1   ...
2                                                 2133
3                                                 5433
4    <bound method Series.mean of 0    1200.0\n1   ...
5                                                 4432
Name: price, dtype: object

In [28]:
df['price'].fillna(df['price'].mean)  # 使用列prince的均值对NA进行填充

0                                                 1200
1    <bound method Series.mean of 0    1200.0\n1   ...
2                                                 2133
3                                                 5433
4    <bound method Series.mean of 0    1200.0\n1   ...
5                                                 4432
Name: price, dtype: object

In [29]:
df['city']=df['city'].map(str.strip)
print(df)  # 清除city字段的字符空格

     id       date       city category  age   price
0  1001 2013-01-02    Beijing    100-A   23  1200.0
1  1002 2013-01-03         SH    100-B   44     NaN
2  1003 2013-01-04  guangzhou            54  2133.0
3  1004 2013-01-05   Shenzhen    110-C   32  5433.0
4  1005 2013-01-06   shanghai            34     NaN
5  1006 2013-01-07    BEIJING    130-F   32  4432.0

In [30]:
df['city']=df['city'].str.lower()
print(df) # 大小写转换

     id       date       city category  age   price
0  1001 2013-01-02    beijing    100-A   23  1200.0
1  1002 2013-01-03         sh    100-B   44     NaN
2  1003 2013-01-04  guangzhou            54  2133.0
3  1004 2013-01-05   shenzhen    110-C   32  5433.0
4  1005 2013-01-06   shanghai            34     NaN
5  1006 2013-01-07    beijing    130-F   32  4432.0

In [31]:
df['city']=df['city'].str.upper()
print(df) # 大小写转换 upper

     id       date       city category  age   price
0  1001 2013-01-02    BEIJING    100-A   23  1200.0
1  1002 2013-01-03         SH    100-B   44     NaN
2  1003 2013-01-04  GUANGZHOU            54  2133.0
3  1004 2013-01-05   SHENZHEN    110-C   32  5433.0
4  1005 2013-01-06   SHANGHAI            34     NaN
5  1006 2013-01-07    BEIJING    130-F   32  4432.0

In [32]:
print(df['price'].astype('int') )

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [33]:
print(df['price'].astype('int'))

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [34]:
df['price'].astype('int')
print(df)

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [35]:
df['price'].fillna(df['price'].mean)  # 使用列prince的均值对NA进行填充

0                                                 1200
1    <bound method Series.mean of 0    1200.0\n1   ...
2                                                 2133
3                                                 5433
4    <bound method Series.mean of 0    1200.0\n1   ...
5                                                 4432
Name: price, dtype: object

In [36]:
df['price'].fillna(df['price'].mean)  # 使用列prince的均值对NA进行填充
print(df)

     id       date       city category  age   price
0  1001 2013-01-02    BEIJING    100-A   23  1200.0
1  1002 2013-01-03         SH    100-B   44     NaN
2  1003 2013-01-04  GUANGZHOU            54  2133.0
3  1004 2013-01-05   SHENZHEN    110-C   32  5433.0
4  1005 2013-01-06   SHANGHAI            34     NaN
5  1006 2013-01-07    BEIJING    130-F   32  4432.0

In [37]:
df['price'].fillna(df['price'].mean)  # 使用列prince的均值对NA进行填充

0                                                 1200
1    <bound method Series.mean of 0    1200.0\n1   ...
2                                                 2133
3                                                 5433
4    <bound method Series.mean of 0    1200.0\n1   ...
5                                                 4432
Name: price, dtype: object

In [38]:
df['price'].fillna(df['price'].mean)

0                                                 1200
1    <bound method Series.mean of 0    1200.0\n1   ...
2                                                 2133
3                                                 5433
4    <bound method Series.mean of 0    1200.0\n1   ...
5                                                 4432
Name: price, dtype: object

In [39]:
df = pd.DataFrame({"id":[1001,1002,1003,1004,1005,1006], 
 "date":pd.date_range('20130102', periods=6),
  "city":['Beijing ', 'SH', ' guangzhou ', 'Shenzhen', 'shanghai', 'BEIJING '],
 "age":[23,44,54,32,34,32],
 "category":['100-A','100-B',' ','110-C',' ','130-F'],
  "price":[1200,np.nan,2133,5433,500,4432]},
  columns =['id','date','city','category','age','price'])
# 创建数据帧

print(df)

     id       date         city category  age   price
0  1001 2013-01-02     Beijing     100-A   23  1200.0
1  1002 2013-01-03           SH    100-B   44     NaN
2  1003 2013-01-04   guangzhou             54  2133.0
3  1004 2013-01-05     Shenzhen    110-C   32  5433.0
4  1005 2013-01-06     shanghai            34   500.0
5  1006 2013-01-07     BEIJING     130-F   32  4432.0

In [40]:
df['price'].fillna(df['price'].mean)

0                                                 1200
1    <bound method Series.mean of 0    1200.0\n1   ...
2                                                 2133
3                                                 5433
4                                                  500
5                                                 4432
Name: price, dtype: object

In [41]:
df['prince'].fillna(df['prince'].mean())  # 使用列prince的均值对NA进行填充

KeyError: 'prince'

In [42]:
df['price'].fillna(df['price'].mean())  # 使用列prince的均值对NA进行填充

0    1200.0
1    2739.6
2    2133.0
3    5433.0
4     500.0
5    4432.0
Name: price, dtype: float64

In [43]:
print(df['price'].astype('int'))  # 更改数据格式

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [44]:
print(df)

     id       date         city category  age   price
0  1001 2013-01-02     Beijing     100-A   23  1200.0
1  1002 2013-01-03           SH    100-B   44     NaN
2  1003 2013-01-04   guangzhou             54  2133.0
3  1004 2013-01-05     Shenzhen    110-C   32  5433.0
4  1005 2013-01-06     shanghai            34   500.0
5  1006 2013-01-07     BEIJING     130-F   32  4432.0

In [45]:
df = pd.DataFrame({"id":[1001,1002,1003,1004,1005,1006], 
 "date":pd.date_range('20130102', periods=6),
  "city":['Beijing ', 'SH', ' guangzhou ', 'Shenzhen', 'shanghai', 'BEIJING '],
 "age":[23,44,54,32,34,32],
 "category":['100-A','100-B',' ','110-C',' ','130-F'],
  "price":[1200,np.nan,2133,5433,np.nan,4432]},
  columns =['id','date','city','category','age','price'])
# 创建数据帧

print(df)

     id       date         city category  age   price
0  1001 2013-01-02     Beijing     100-A   23  1200.0
1  1002 2013-01-03           SH    100-B   44     NaN
2  1003 2013-01-04   guangzhou             54  2133.0
3  1004 2013-01-05     Shenzhen    110-C   32  5433.0
4  1005 2013-01-06     shanghai            34     NaN
5  1006 2013-01-07     BEIJING     130-F   32  4432.0

In [46]:
print(df['price'].fillna(df['price'].mean()))  # 使用列prince的均值对NA进行填充

0    1200.0
1    3299.5
2    2133.0
3    5433.0
4    3299.5
5    4432.0
Name: price, dtype: float64

In [47]:
print(df)

     id       date         city category  age   price
0  1001 2013-01-02     Beijing     100-A   23  1200.0
1  1002 2013-01-03           SH    100-B   44     NaN
2  1003 2013-01-04   guangzhou             54  2133.0
3  1004 2013-01-05     Shenzhen    110-C   32  5433.0
4  1005 2013-01-06     shanghai            34     NaN
5  1006 2013-01-07     BEIJING     130-F   32  4432.0

In [48]:
df = df['price'].fillna(df['price'].mean())
print(df)  # 使用列prince的均值对NA进行填充

0    1200.0
1    3299.5
2    2133.0
3    5433.0
4    3299.5
5    4432.0
Name: price, dtype: float64

In [49]:
df['price']= df['price'].fillna(df['price'].mean())
print(df)  # 使用列prince的均值对NA进行填充

KeyError: 'price'

In [50]:
print(df)

0    1200.0
1    3299.5
2    2133.0
3    5433.0
4    3299.5
5    4432.0
Name: price, dtype: float64

In [51]:
df = pd.DataFrame({"id":[1001,1002,1003,1004,1005,1006], 
 "date":pd.date_range('20130102', periods=6),
  "city":['Beijing ', 'SH', ' guangzhou ', 'Shenzhen', 'shanghai', 'BEIJING '],
 "age":[23,44,54,32,34,32],
 "category":['100-A','100-B',' ','110-C',' ','130-F'],
  "price":[1200,np.nan,2133,5433,np.nan,4432]},
  columns =['id','date','city','category','age','price'])
# 创建数据帧

print(df)

     id       date         city category  age   price
0  1001 2013-01-02     Beijing     100-A   23  1200.0
1  1002 2013-01-03           SH    100-B   44     NaN
2  1003 2013-01-04   guangzhou             54  2133.0
3  1004 2013-01-05     Shenzhen    110-C   32  5433.0
4  1005 2013-01-06     shanghai            34     NaN
5  1006 2013-01-07     BEIJING     130-F   32  4432.0

In [52]:
df['price'].fillna(df['price'].mean())
print(df)  # 使用列prince的均值对NA进行填充

     id       date         city category  age   price
0  1001 2013-01-02     Beijing     100-A   23  1200.0
1  1002 2013-01-03           SH    100-B   44     NaN
2  1003 2013-01-04   guangzhou             54  2133.0
3  1004 2013-01-05     Shenzhen    110-C   32  5433.0
4  1005 2013-01-06     shanghai            34     NaN
5  1006 2013-01-07     BEIJING     130-F   32  4432.0

In [53]:
print(df.fillna(value=0)) # 对空值用0填充

     id       date         city category  age   price
0  1001 2013-01-02     Beijing     100-A   23  1200.0
1  1002 2013-01-03           SH    100-B   44     0.0
2  1003 2013-01-04   guangzhou             54  2133.0
3  1004 2013-01-05     Shenzhen    110-C   32  5433.0
4  1005 2013-01-06     shanghai            34     0.0
5  1006 2013-01-07     BEIJING     130-F   32  4432.0

In [54]:
df['price'].fillna(df['price'].mean())

0    1200.0
1    3299.5
2    2133.0
3    5433.0
4    3299.5
5    4432.0
Name: price, dtype: float64

In [55]:
df.fillna(df['price'].mean())

     id       date         city category  age   price
0  1001 2013-01-02     Beijing     100-A   23  1200.0
1  1002 2013-01-03           SH    100-B   44  3299.5
2  1003 2013-01-04   guangzhou             54  2133.0
3  1004 2013-01-05     Shenzhen    110-C   32  5433.0
4  1005 2013-01-06     shanghai            34  3299.5
5  1006 2013-01-07     BEIJING     130-F   32  4432.0

In [56]:
print(df['price'].astype('int'))  # 更改数据格式

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [57]:
print(df)

     id       date         city category  age   price
0  1001 2013-01-02     Beijing     100-A   23  1200.0
1  1002 2013-01-03           SH    100-B   44     NaN
2  1003 2013-01-04   guangzhou             54  2133.0
3  1004 2013-01-05     Shenzhen    110-C   32  5433.0
4  1005 2013-01-06     shanghai            34     NaN
5  1006 2013-01-07     BEIJING     130-F   32  4432.0

In [58]:
df.fillna(df['price'].mean())
print(df)  # 使用列prince的均值对NA进行填充
df['city']=df['city'].map(str.strip)
print(df)  # 清除city字段的字符空格
df['city']=df['city'].str.lower()
print(df) # 大小写转换 upper(小转大)，lower(大转小)
print(df['price'].astype('int'))  # 更改数据格式

     id       date         city category  age   price
0  1001 2013-01-02     Beijing     100-A   23  1200.0
1  1002 2013-01-03           SH    100-B   44     NaN
2  1003 2013-01-04   guangzhou             54  2133.0
3  1004 2013-01-05     Shenzhen    110-C   32  5433.0
4  1005 2013-01-06     shanghai            34     NaN
5  1006 2013-01-07     BEIJING     130-F   32  4432.0
     id       date       city category  age   price
0  1001 2013-01-02    Beijing    100-A   23  1200.0
1  1002 2013-01-03         SH    100-B   44     NaN
2  1003 2013-01-04  guangzhou            54  2133.0
3  1004 2013-01-05   Shenzhen    110-C   32  5433.0
4  1005 2013-01-06   shanghai            34     NaN
5  1006 2013-01-07    BEIJING    130-F   32  4432.0
     id       date       city category  age   price
0  1001 2013-01-02    beijing    100-A   23  1200.0
1  1002 2013-01-03         sh    100-B   44     NaN
2  1003 2013-01-04  guangzhou            54  2133.0
3  1004 2013-01-05   shenzhen    110-C   32  5433.0
4  1005 2013-01-06   shanghai            34     NaN
5  1006 2013-01-07    beijing    130-F   32  4432.0

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [59]:
df.fillna(df['price'].mean())
print(df)  # 使用列prince的均值对NA进行填充

     id       date       city category  age   price
0  1001 2013-01-02    beijing    100-A   23  1200.0
1  1002 2013-01-03         sh    100-B   44     NaN
2  1003 2013-01-04  guangzhou            54  2133.0
3  1004 2013-01-05   shenzhen    110-C   32  5433.0
4  1005 2013-01-06   shanghai            34     NaN
5  1006 2013-01-07    beijing    130-F   32  4432.0

In [60]:
df.fillna(df['price'].mean())

     id       date       city category  age   price
0  1001 2013-01-02    beijing    100-A   23  1200.0
1  1002 2013-01-03         sh    100-B   44  3299.5
2  1003 2013-01-04  guangzhou            54  2133.0
3  1004 2013-01-05   shenzhen    110-C   32  5433.0
4  1005 2013-01-06   shanghai            34  3299.5
5  1006 2013-01-07    beijing    130-F   32  4432.0

In [61]:
df['price'].astype('int')

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [62]:
df = df['price'].astype('int')
print(df)  # 更改数据格式

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [63]:
print(df)

     id       date       city category  age   price
0  1001 2013-01-02    beijing    100-A   23  1200.0
1  1002 2013-01-03         sh    100-B   44     NaN
2  1003 2013-01-04  guangzhou            54  2133.0
3  1004 2013-01-05   shenzhen    110-C   32  5433.0
4  1005 2013-01-06   shanghai            34     NaN
5  1006 2013-01-07    beijing    130-F   32  4432.0

In [64]:
df.fillna(df['price'].mean())

     id       date       city category  age   price
0  1001 2013-01-02    beijing    100-A   23  1200.0
1  1002 2013-01-03         sh    100-B   44  3299.5
2  1003 2013-01-04  guangzhou            54  2133.0
3  1004 2013-01-05   shenzhen    110-C   32  5433.0
4  1005 2013-01-06   shanghai            34  3299.5
5  1006 2013-01-07    beijing    130-F   32  4432.0

In [65]:
df.fillna(df['price'].mean())
print(df)  # 使用列prince的均值对NA进行填充

     id       date       city category  age   price
0  1001 2013-01-02    beijing    100-A   23  1200.0
1  1002 2013-01-03         sh    100-B   44     NaN
2  1003 2013-01-04  guangzhou            54  2133.0
3  1004 2013-01-05   shenzhen    110-C   32  5433.0
4  1005 2013-01-06   shanghai            34     NaN
5  1006 2013-01-07    beijing    130-F   32  4432.0

In [66]:
print(df['city'].map(str.strip))  # 清除city字段的字符空格

0      beijing
1           sh
2    guangzhou
3     shenzhen
4     shanghai
5      beijing
Name: city, dtype: object

In [67]:
print(df.fillna(df['price'].mean()))  # 使用列prince的均值对NA进行填充

     id       date       city category  age   price
0  1001 2013-01-02    beijing    100-A   23  1200.0
1  1002 2013-01-03         sh    100-B   44  3299.5
2  1003 2013-01-04  guangzhou            54  2133.0
3  1004 2013-01-05   shenzhen    110-C   32  5433.0
4  1005 2013-01-06   shanghai            34  3299.5
5  1006 2013-01-07    beijing    130-F   32  4432.0

In [68]:
print(df['price'].astype('int'))  # 更改数据格式

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [69]:
df['city']=df['city'].str.upper()
print(df) # 大小写转换 upper(小转大)，lower(大转小)

     id       date       city category  age   price
0  1001 2013-01-02    BEIJING    100-A   23  1200.0
1  1002 2013-01-03         SH    100-B   44     NaN
2  1003 2013-01-04  GUANGZHOU            54  2133.0
3  1004 2013-01-05   SHENZHEN    110-C   32  5433.0
4  1005 2013-01-06   SHANGHAI            34     NaN
5  1006 2013-01-07    BEIJING    130-F   32  4432.0

In [70]:
print(df)

     id       date       city category  age   price
0  1001 2013-01-02    BEIJING    100-A   23  1200.0
1  1002 2013-01-03         SH    100-B   44     NaN
2  1003 2013-01-04  GUANGZHOU            54  2133.0
3  1004 2013-01-05   SHENZHEN    110-C   32  5433.0
4  1005 2013-01-06   SHANGHAI            34     NaN
5  1006 2013-01-07    BEIJING    130-F   32  4432.0

In [71]:
df = pd.DataFrame({"id":[1001,1002,1003,1004,1005,1006], 
 "date":pd.date_range('20130102', periods=6),
  "city":['Beijing ', 'SH', ' guangzhou ', 'Shenzhen', 'shanghai', 'BEIJING '],
 "age":[23,44,54,32,34,32],
 "category":['100-A','100-B','110-A','110-C','210-A','130-F'],
  "price":[1200,np.nan,2133,5433,np.nan,4432]},
  columns =['id','date','city','category','age','price'])
# 创建数据帧

print(df)

     id       date         city category  age   price
0  1001 2013-01-02     Beijing     100-A   23  1200.0
1  1002 2013-01-03           SH    100-B   44     NaN
2  1003 2013-01-04   guangzhou     110-A   54  2133.0
3  1004 2013-01-05     Shenzhen    110-C   32  5433.0
4  1005 2013-01-06     shanghai    210-A   34     NaN
5  1006 2013-01-07     BEIJING     130-F   32  4432.0

In [72]:
print(df.fillna(df['price'].mean()))  # 使用列prince的均值对NA进行填充

     id       date         city category  age   price
0  1001 2013-01-02     Beijing     100-A   23  1200.0
1  1002 2013-01-03           SH    100-B   44  3299.5
2  1003 2013-01-04   guangzhou     110-A   54  2133.0
3  1004 2013-01-05     Shenzhen    110-C   32  5433.0
4  1005 2013-01-06     shanghai    210-A   34  3299.5
5  1006 2013-01-07     BEIJING     130-F   32  4432.0

In [73]:
print(df)

     id       date         city category  age   price
0  1001 2013-01-02     Beijing     100-A   23  1200.0
1  1002 2013-01-03           SH    100-B   44     NaN
2  1003 2013-01-04   guangzhou     110-A   54  2133.0
3  1004 2013-01-05     Shenzhen    110-C   32  5433.0
4  1005 2013-01-06     shanghai    210-A   34     NaN
5  1006 2013-01-07     BEIJING     130-F   32  4432.0

In [74]:
print(df.fillna(df['price'].mean()))  # 使用列prince的均值对NA进行填充

     id       date         city category  age   price
0  1001 2013-01-02     Beijing     100-A   23  1200.0
1  1002 2013-01-03           SH    100-B   44  3299.5
2  1003 2013-01-04   guangzhou     110-A   54  2133.0
3  1004 2013-01-05     Shenzhen    110-C   32  5433.0
4  1005 2013-01-06     shanghai    210-A   34  3299.5
5  1006 2013-01-07     BEIJING     130-F   32  4432.0

In [75]:
print(df)

     id       date         city category  age   price
0  1001 2013-01-02     Beijing     100-A   23  1200.0
1  1002 2013-01-03           SH    100-B   44     NaN
2  1003 2013-01-04   guangzhou     110-A   54  2133.0
3  1004 2013-01-05     Shenzhen    110-C   32  5433.0
4  1005 2013-01-06     shanghai    210-A   34     NaN
5  1006 2013-01-07     BEIJING     130-F   32  4432.0

In [76]:
df['city']=df['city'].str.upper()

In [77]:
df.fillna(df['price'].mean())

     id       date         city category  age   price
0  1001 2013-01-02     BEIJING     100-A   23  1200.0
1  1002 2013-01-03           SH    100-B   44  3299.5
2  1003 2013-01-04   GUANGZHOU     110-A   54  2133.0
3  1004 2013-01-05     SHENZHEN    110-C   32  5433.0
4  1005 2013-01-06     SHANGHAI    210-A   34  3299.5
5  1006 2013-01-07     BEIJING     130-F   32  4432.0

In [78]:
print(df.fillna(df['price'].mean(),inplace=true))

NameError: name 'true' is not defined

In [79]:
print(df.fillna(df['price'].mean(),inplace=True))

None

In [80]:
print(df['price'].astype('int'))  # 更改数据格式

0    1200
1    3299
2    2133
3    5433
4    3299
5    4432
Name: price, dtype: int32